* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: #FAFAFA;
}

#main-container {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
}

#form-container {
    display: flex;
    flex: 1;
}

#form-box {
    border: 1px solid #DBDBDB;
    background-color: #fff;
    width: 100%;
}


.separator {
    font-size: 14px;

    margin: 32px 0;
    display: flex;
    align-items: center;
}

.separator::before {
    content: '';
    flex: 1;
    height: 1px;
    margin-right: 16px;
}

.separator::after {
    content: '';
    flex: 1;
    height: 1px;
    margin-left: 16px;
}